<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CrudPaciente</servlet-name>
        <servlet-class>Servlets.Paciente.CrudPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarPacientePorCpf</servlet-name>
        <servlet-class>Servlets.Paciente.PesquisarPacientePorCpf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>atualizarpaciente</servlet-name>
        <servlet-class>Servlets.Paciente.AtualizarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPacientes</servlet-name>
        <servlet-class>Servlets.Paciente.ListarPacientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>Servlets.Usuario.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleDeNavegacao</servlet-name>
        <servlet-class>Servlets.ControleDeNavegacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarMedicos</servlet-name>
        <servlet-class>Servlets.Medico.ListarMedicos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudMedico</servlet-name>
        <servlet-class>Servlets.Medico.CrudMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarMedicoPorCpf</servlet-name>
        <servlet-class>Servlets.Medico.PesquisarMedicoPorCpf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarMedico</servlet-name>
        <servlet-class>Servlets.Medico.AtualizarMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudConvenio</servlet-name>
        <servlet-class>Servlets.Convenio.CrudConvenio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarConvenios</servlet-name>
        <servlet-class>Servlets.Convenio.ListarConvenios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarConvenio</servlet-name>
        <servlet-class>Servlets.Convenio.AtualizarConvenio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarConvenioPorCnpj</servlet-name>
        <servlet-class>Servlets.Convenio.PesquisarConvenioPorCnpj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudEspecialidade</servlet-name>
        <servlet-class>Servlets.Especialidade.CrudEspecialidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEspecialidades</servlet-name>
        <servlet-class>Servlets.Especialidade.ListarEspecialidades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarParaExcluir</servlet-name>
        <servlet-class>Servlets.Especialidade.PesquisarParaExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarEspecialidade</servlet-name>
        <servlet-class>Servlets.Especialidade.AtualizarEspecialidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEspecializacoes</servlet-name>
        <servlet-class>Servlets.Especializacao.ListarEspecializacoes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarEspecialidade</servlet-name>
        <servlet-class>Servlets.Especializacao.BuscarEspecialidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudEspecializacao</servlet-name>
        <servlet-class>Servlets.Especializacao.CrudEspecializacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarParaExcluirEspecializacao</servlet-name>
        <servlet-class>Servlets.Especializacao.PesquisarParaExcluirEspecializacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarMedico</servlet-name>
        <servlet-class>Servlets.Especializacao.BuscarMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarEspecializacaoPorMedico</servlet-name>
        <servlet-class>Servlets.Especializacao.PesquisarEspecializacaoPorMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarEspecializacaoPesquisada</servlet-name>
        <servlet-class>Servlets.Especializacao.MostrarEspecializacaoPesquisada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarConsultas</servlet-name>
        <servlet-class>Servlets.Consulta.ListarConsultas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProntuarios</servlet-name>
        <servlet-class>Servlets.Prontuario.ListarProntuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarMedicoParaExcluir</servlet-name>
        <servlet-class>Servlets.Especializacao.PesquisarMedicoParaExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarMedicoEspecialidadeParaCadastrar</servlet-name>
        <servlet-class>Servlets.Especializacao.PesquisarMedicoEspecialidadeParaCadastrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarEspecialidade</servlet-name>
        <servlet-class>Servlets.Especialidade.PesquisarEspecialidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarEspecializacao</servlet-name>
        <servlet-class>Servlets.Especializacao.AtualizarEspecializacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirConsulta</servlet-name>
        <servlet-class>Servlets.Consulta.ExcluirConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarDadosParaConsulta</servlet-name>
        <servlet-class>Servlets.Consulta.PesquisarDadosParaConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarConsulta</servlet-name>
        <servlet-class>Servlets.Consulta.CadastrarConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarConsultaParaAtualizar</servlet-name>
        <servlet-class>Servlets.Consulta.PesquisarConsultaParaAtualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarConsultaParaExcluir</servlet-name>
        <servlet-class>Servlets.Consulta.PesquisarConsultaParaExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarConsulta</servlet-name>
        <servlet-class>Servlets.Consulta.AtualizarConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarDadosParaCadastrarProntuario</servlet-name>
        <servlet-class>Servlets.Prontuario.PesquisarDadosParaCadastrarProntuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarConsultaPorConvenio</servlet-name>
        <servlet-class>Servlets.Relatorios.PesquisarConsultaPorConvenio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerarRelatorioConsultasPorConvenio</servlet-name>
        <servlet-class>Servlets.Relatorios.GerarRelatorioConsultasPorConvenio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarConsultaPorMedico</servlet-name>
        <servlet-class>Servlets.Relatorios.PesquisarConsultaPorMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarMedico</servlet-name>
        <servlet-class>Servlets.Relatorios.PesquisarMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerarRelatorioConsultasPorMedico</servlet-name>
        <servlet-class>Servlets.Relatorios.GerarRelatorioConsultasPorMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProntuario</servlet-name>
        <servlet-class>Servlets.Prontuario.CadastrarProntuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarProntuarioParaExcluir</servlet-name>
        <servlet-class>Servlets.Prontuario.PesquisarProntuarioParaExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProntuario</servlet-name>
        <servlet-class>Servlets.Prontuario.ExcluirProntuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmitirReceita</servlet-name>
        <servlet-class>Servlets.Prontuario.EmitirReceita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarDadosParaEmitirReceita</servlet-name>
        <servlet-class>Servlets.Prontuario.PesquisarDadosParaEmitirReceita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarConvenio</servlet-name>
        <servlet-class>Servlets.Relatorios.PesquisarConvenio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarConsultaPorData</servlet-name>
        <servlet-class>Servlets.Relatorios.PesquisarConsultaPorData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerarRelatorioFaturamentoPorData</servlet-name>
        <servlet-class>Servlets.Relatorios.GerarRelatorioFaturamentoPorData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrudPaciente</servlet-name>
        <url-pattern>/crudpaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarPacientePorCpf</servlet-name>
        <url-pattern>/pesquisarpacienteporcpf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>atualizarpaciente</servlet-name>
        <url-pattern>/atualizarpaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPacientes</servlet-name>
        <url-pattern>/listarpacientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleDeNavegacao</servlet-name>
        <url-pattern>/controledenavegacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarMedicos</servlet-name>
        <url-pattern>/listarmedicos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudMedico</servlet-name>
        <url-pattern>/crudmedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarMedicoPorCpf</servlet-name>
        <url-pattern>/pesquisarmedicoporcpf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarMedico</servlet-name>
        <url-pattern>/atualizarmedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudConvenio</servlet-name>
        <url-pattern>/crudconvenio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarConvenios</servlet-name>
        <url-pattern>/listarconvenios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarConvenio</servlet-name>
        <url-pattern>/atualizarconvenio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarConvenioPorCnpj</servlet-name>
        <url-pattern>/pesquisarconvenioporcnpj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudEspecialidade</servlet-name>
        <url-pattern>/crudespecialidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEspecialidades</servlet-name>
        <url-pattern>/listarespecialidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarParaExcluir</servlet-name>
        <url-pattern>/pesquisarparaexcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarEspecialidade</servlet-name>
        <url-pattern>/atualizarespecialidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEspecializacoes</servlet-name>
        <url-pattern>/listarespecializacoes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarEspecialidade</servlet-name>
        <url-pattern>/buscarespecialidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudEspecializacao</servlet-name>
        <url-pattern>/crudespecializacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarParaExcluirEspecializacao</servlet-name>
        <url-pattern>/pesquisarparaexcluirespecializacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarEspecializacaoPorMedico</servlet-name>
        <url-pattern>/pesquisarespecializacaopormedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarEspecializacaoPesquisada</servlet-name>
        <url-pattern>/mostrarespecializacaopesquisada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarConsultas</servlet-name>
        <url-pattern>/listarconsultas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProntuarios</servlet-name>
        <url-pattern>/listarprontuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarMedicoParaExcluir</servlet-name>
        <url-pattern>/pesquisarmedicoparaexcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarMedicoEspecialidadeParaCadastrar</servlet-name>
        <url-pattern>/pesquisarmedicoespecialidadeparacadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarEspecialidade</servlet-name>
        <url-pattern>/pesquisarespecialidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarEspecializacao</servlet-name>
        <url-pattern>/atualizarespecializacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirConsulta</servlet-name>
        <url-pattern>/excluirconsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarDadosParaConsulta</servlet-name>
        <url-pattern>/pesquisardadosparaconsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarConsulta</servlet-name>
        <url-pattern>/cadastrarconsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarConsultaParaAtualizar</servlet-name>
        <url-pattern>/pesquisarconsultaparaatualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarConsultaParaExcluir</servlet-name>
        <url-pattern>/pesquisarconsultaparaexcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarConsulta</servlet-name>
        <url-pattern>/atualizarconsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarDadosParaCadastrarProntuario</servlet-name>
        <url-pattern>/pesquisardadosparacadastrarprontuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarConsultaPorConvenio</servlet-name>
        <url-pattern>/pesquisarconsultaporconvenio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerarRelatorioConsultasPorConvenio</servlet-name>
        <url-pattern>/gerarrelatorioconsultasporconvenio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarConsultaPorMedico</servlet-name>
        <url-pattern>/pesquisarconsultapormedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarMedico</servlet-name>
        <url-pattern>/pesquisarmedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerarRelatorioConsultasPorMedico</servlet-name>
        <url-pattern>/gerarrelatorioconsultaspormedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarProntuario</servlet-name>
        <url-pattern>/cadastrarprontuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarProntuarioParaExcluir</servlet-name>
        <url-pattern>/pesquisarprontuarioparaexcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProntuario</servlet-name>
        <url-pattern>/excluirprontuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmitirReceita</servlet-name>
        <url-pattern>/emitirreceita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarDadosParaEmitirReceita</servlet-name>
        <url-pattern>/pesquisardadosparaemitirreceita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarConvenio</servlet-name>
        <url-pattern>/pesquisarconvenio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarConsultaPorData</servlet-name>
        <url-pattern>/pesquisarconsultapordata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerarRelatorioFaturamentoPorData</servlet-name>
        <url-pattern>/gerarrelatoriofaturamentopordata</url-pattern>
    </servlet-mapping>
     <welcome-file-list>
        <welcome-file>Index.html</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
